// Fonts
$base-font-family: "Open Sans", arial;
$base-font-weight: 100;
$bold-font-weight: 700;

// Theme Colors
$color: #007486;
$text: #151515;
$blue-text: #0099cc;
$main-background-color: #5f6062;

// Common Colors
$grey-4: #aeadad;

// Breakpoints

// Timing
$transition-time: .3s;
